.form {
    padding-top: 2%;
    padding-bottom: 2%
}

.button-group button.active {
    background-color: #ff4757;
    border: 2px solid white;
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px rgba(255, 71, 87, 0.8));
}

.button-group button {
    background: transparent;
    border: 1px solid #444;
    border-radius: 8px;
    margin: 2px;
    padding: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}