.form {
    padding-top: 2%;
    padding-bottom: 2%
}

.button-group button.active {
    background-color: #ff4757;
    border: 2px solid white;
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px rgba(255, 71, 87, 0.8));
}

.button-group button {
    background: transparent;
    border: 1px solid #444;
    border-radius: 8px;
    margin: 2px;
    padding: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.form-tabs {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.form-tabs button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 4px;
}

.form-tabs button:hover {
    background-color: #444;
}